*{
	padding: 0;
	margin: 0;
	font-family: arial;
}

body{
	background-color:  #ffffcc;
}

.column_left{
width: 50%;
float:left;
}

.column_right{
width: 50%;
float: right;
margin-top: 30px;

}
#header{
	width: 100%;
	clear: both;
	background-color: grey;
	display: table;
	background-color: #b7c6ce;
}
#contents{
	width: 100%;
	clear: both;
	background-color: green;
}
.showPet{
	width: 350px;
	height: 100px;
	background-color: #dee8e7;
	padding: 5px;
	margin: 5px;
	display: table;
	float: left;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid black;
}
.petImage{
	max-width: 100px;
	max-height: 50px;
	padding: 5px;
	float: left;
}
.petName{
	size: 10px;
}
.petColumnLeft, .petColumnMiddle, .petColumnRight{
	width: 33.33%;
	height: 70%;
}
.petColumnLeft{
	float: left;
}
.petColumnRight{
	float:right;
	width: 25%;

}
.petColumnMiddle{
	float:left;

}
.petRowBottom{
	width: 100%;
	height: 30%;
	float: left;
	background-color: #b7c6ce;
	border-radius: 10px;
}
.feed_button {
	display: block;
	float: left;

	width: 50px;
	margin: 2px;
	height: 30px;
	font-size: 13px;
}
.delete_button {
 	display: block;
 	float: left;
 	padding: 5px;
 	margin: 5px;
 	font-size: 13px;
 	float: left;
 }
form{
	clear:both;
}

/*Slider*/
.petHealthSlider{
	background-color: white;
	width: 180px;
	height: 28px;
	float: right;
	margin: 5px;
	position: relative;
	padding: 5px;
	border-radius: 5px;
}

.petHealthSliderInner{
	background-color: #e08bbb;
	height: 30px;
	z-index: 3;
	

}

.petHealthSliderHearts{
	height: 30px;
	background-image: url("images/pixelheart.png");
	background-size: 30px 30px;
    background-repeat: x;
 
    z-index: 100;
    position: absolute;
    width: 181px;
   

}

#search{
    width: 500px;
    height: 60px;
    margin-top: 10px;
    font-size: 30px;
}

#petsDiv{
    width: 66%;
    float: left;
    height: 100%;
    display: block;
}

#ownersDiv{
    width: 33%;
    float: right;
    height: 100%;
    display: block;
}
